<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LeaderBoard</title>
    <style>
      body {
        background-image: url(./img/back1.jpg);
        /* background-position: center;    */
        background-repeat: no-repeat;
        background-size: cover;
      }

      #data{
        color: white;
      }
      .name{
        color: yellow;
        font-weight: 700;
      }
      .head{
        color: #daa520;
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center head">LEADERBOARD</h1>
    <div class="container">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Puzzle 1</th>
            <th scope="col">Puzzle 2</th>
            <th scope="col">Puzzle 3</th>
            <th scope="col">Puzzle 4</th>
            <th scope="col">Puzzle 5</th>
          </tr>
        </thead>
        <tbody id="data"></tbody>
      </table>
    </div>

    <script>
      let x = "https://treasurehunt-fctr.onrender.com/view";
      fetch(x)
        .then((data) => {
          return data.json();
        })
        .then((ObjectData) => {
          let tableData = "";
          for (let i = 0; i < ObjectData.data.length; i++) {
            const { name, puzzle1, puzzle2, puzzle3, puzzle4, puzzle5 } =
              ObjectData.data[i];
            tableData += `
         <tr>
           <td class="name">${name}</td>
            <td>${puzzle1}</td>
             <td>${puzzle2}</td>
              <td>${puzzle3}</td>
             <td>${puzzle4}</td>
            <td>${puzzle5}</td>
           </tr>`;
          }
          document.getElementById("data").innerHTML = tableData;
        });
    </script>
  </body>
</html>
